@model IEnumerable<leave_management.Models.DetailsLeaveTypeViewModel>

@{
    ViewData["Title"] = "Gestión de Tipos de Licencia";
}

    <h1>Gestión de Tipos de Licencia</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i> Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
