@model IEnumerable<leave_management.Models.LeaveTypeViewModel>

@{
    ViewData["Title"] = "Gestión de Tipos de Licencia";
}

    <h1>Gestión de Tipos de Licencia</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td style="vertical-align: middle">
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>  
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i></a>  
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" 
                        onclick="return confirm('Está seguro de eliminar este registro?');">
                        <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
