@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title">@Model.TotalRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title text-success">@Model.ApprovedRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title text-warning">@Model.PendingRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title text-danger">@Model.RejectedRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.RejectedRequests)</p>
            </div>
        </div>
    </div>
</div>

<hr />
<h1>Registros de peticiones de licencia</h1>
<hr />
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Fecha inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                Tipo de Licencia
            </th>
            <th>
                Fecha Petición
            </th>
            <th>
                Estatus de aprobación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName)
                @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Aprobado</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rechazado</span>
                }
                else
                {
                    <span class="badge badge-warning">Pendiente</span>
                }
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa fa-file"></i>
                        Revisar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
