@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.TotalRequests)</span>
                <span class="info-box-number">@Model.TotalRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
                <span class="info-box-number">@Model.ApprovedRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.PendingRequests)</span>
                <span class="info-box-number">@Model.PendingRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-ban"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
                <span class="info-box-number">@Model.RejectedRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div> 
<hr />
<h1>Registros de peticiones de licencia</h1>
<hr />
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Fecha inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                Tipo de Licencia
            </th>
            <th>
                Fecha Petición
            </th>
            <th>
                Estatus de aprobación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName)
                @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Aprobado</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rechazado</span>
                }
                else
                {
                    <span class="badge badge-warning">Pendiente</span>
                }
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa fa-file"></i>
                        Revisar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
